<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-J4qX2hEc2kIbRwZupxTUPjhFnwAPeO4</string>
	<key>GCM_SENDER_ID</key>
	<string>777280942306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayashield.app</string>
	<key>PROJECT_ID</key>
	<string>mayashield-c8c07</string>
	<key>STORAGE_BUCKET</key>
	<string>mayashield-c8c07.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777280942306:ios:dda2c9f1826cd5a0772ebb</string>
</dict>
</plist>